* {
    margin: 0vw;
    padding: 0vw;
    border: 0vw;
    font-family: Raleway sans-serif;
    font-size: 1.2vw;
    font-weight: normal;
    font-style: normal;
    text-decoration: none; 
	 box-sizing: border-box;
}

body {
	font-size: 1.2vw;
	line-height: 1.8vw;
	color: #414142;
	font-family: Arial;
}

p {
	margin: 1.2vw 0;
}

.which-pos {
	top: 0;
	left: 0;
	padding: 0.2vw 0.2vw 0.2vw 0;
}

.element > p {
	padding: 0 0 0 1.1vw;
	font-size: 1.4vw;
	padding: 0 1.2vw;
}

p code {
	background-color: #e6e6e6;
}

.go-up {
	position: fixed;
	width: 15px;
	bottom: 11vw;
	right: 1vw;
}
p.go-up {
	font-size: 1vw;
	color: black;
	right: 5vw;
	bottom: 9.5vw;
	white-space: nowrap;
	z-index: 20;
}

/* Header */

h1 {
	text-align: center;
	position: relative;
	width: 60vw;
	top: 11.6vw;
	left: 20vw;
	font-family: Raleway;
	font-size: 4.6vw;
	border-bottom: 0.16vw solid #414142; 
	padding: 3.8vw;
	white-space: nowrap;
}

nav {
	margin-top: 11.5vw;
	margin-left: 30vw;
	margin-right: 30vw;
	background-color: #414142; 
}
li {
	display: inline-block;
	background-color: #414142;
	padding: 1vw 0.78vw;
}

a {
	color: white;
	font-variant: small-caps;
	font-size: 1.2vw;
}

li:hover {
	background-color: #545454;
}
/* box model */
.go-exercice-box-model {
	position: relative;
	color: white;
	top: 32vw;
	left: 36vw;
	z-index: 999;
}
#img-box-model {
	position: absolute;
	width: 40vw;
	height: auto;
	top: 78vw;
	left: 30%;
}
#go-boxmodel {
	text-align: center;
	position: relative;
	top: 34vw;
	font-family: Raleway;
	font-size: 4.6vw;
	white-space: nowrap;
	padding-top: 1vw;
	padding-bottom: 1vw;
	z-index: 10;
}

#boxmodel {
	position: relative;
	height: 40vw;
	top: 35vw;
	border: 0.3vw solid #414142; 
	background-color: #414142; 
}

.boxmodel {
	position: relative;
	width: auto;
	height: auto;
	background-color: white;
}
.element-purple {
	border: solid #9370DB 0.2vw;
	position: relative;
}

/* css for box " position static "  */
#go-static {
	text-align: center;
	position: relative;
	top: 45vw;
	font-family: Raleway;
	font-size: 4.6vw;
	white-space: nowrap;
	padding-top: 1vw;
	padding-bottom: 1vw;
	z-index: 10;
}

#static {
	position: relative;
	height: 43vw;
	top: 45vw;
	border: 0.3vw solid #414142; 
	background-color: #414142; 
}

.static {
	position: relative;
	width: auto;
	height: auto;
	background-color: white;
}

.element-blue {
	border: solid #6AC5AC 0.2vw;
	position: relative;
}

.element-blue > .which-pos {
	background-color: #6AC5AC;
}
.example-static {
	position: relative;
	width: 70vw;
	height: auto;
	left: 47vw;
	transform: translate(-50%,  50%);
}

/* css for box " position relative "  */

.go-exercice-relative {
	position: relative;
	color: white;
	top: 3vw;
	left: 36vw;
	z-index: 999;
}
#go-relative {
	text-align: center;
	position: relative;
	top: 34vw;
	font-family: Raleway;
	font-size: 4.6vw;
	white-space: nowrap;
	padding-top: 1vw;
	padding-bottom: 1vw;
	z-index: 10;
}

#relative {
	position: relative;
	height: 57vw;
	top: 35vw;
	border: 0.15vw solid #414142; 
	background-color: #414142; 
}
.relative1 {
	position: static;
	width: auto;
	margin: 0;
	background-color: white;
}

.element-red {
	border: solid #ff4d4d 0.2vw;
}

.element-red > .which-pos {
	background-color:  #ff4d4d
}

.relative2 {
	position: relative;
	width: 40%;
	top: 4.5vw;
	left: 50vw;
	transform: translate(-50%, -40%);
	margin: 0;
	background-color: white;
}
.example-relative {
	position: relative;
	width: 70vw;
	height: auto;
	left: 47vw;
	transform: translate(-50%,  10%);
}


/* css for box " position absolute "  */
.go-exercice-absolute {
	position: relative;
	color: white;
	top: 3vw;
	left: 36vw;
	z-index: 999;
}
#go-absolute {
	text-align: center;
	position: relative;
	top: 34vw;
	font-family: Raleway;
	font-size: 4.6vw;
	white-space: nowrap;
	padding-top: 1vw;
	padding-bottom: 1vw;
	z-index: 10;
}

#absolute {
	position: relative;
	height: 53vw;
	top: 35vw;
	border: 0.15vw solid #414142; 
	background-color: #414142; 
}

.relative {
	position: relative;
	width: 46.1vw;
	height: 20vw;
	left: 26vw;
	background-color: white;
}

.absolute {
	position: absolute;
	top: 8.2vw;
	right: 1.5vw;
	left: 23vw;
	width 23vw;
	height: auto;
	background-color: white;
}

.element-green {
	border: solid lightgreen 0.2vw;
}
.element-green > .which-pos {
	background-color: lightgreen;
}
.example-absolute {
	position: relative;
	width: 70vw;
	height: auto;
	left: 47vw;
	transform: translate(-50%,  10%);
}

/* css for box bottom right on screen " position fixed "  */

.go-exercice-fixed {
	position: relative;
	color: white;
	top: 3vw;
	left: 36vw;
	z-index: 999;
}
#go-fixed {
	text-align: center;
	position: relative;
	top: 34vw;
	font-family: Raleway;
	font-size: 4.6vw;
	white-space: nowrap;
	padding-top: 1vw;
	padding-bottom: 1vw;
	z-index: 10;
}
#fixed {
	position: relative;
	height: 42vw;
	top: 35vw;
	border: 0.15vw solid #414142; 
	background-color: #414142; 
}

.fixed {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 15.3vw;
	background-color: white;
	z-index: 9999;
}

.whatfixed {
	position: relative;
	width: 70vw;
	height: 9vw;
	left: 12vw;
	background-color: white;
}
.element-yellow {
	border: solid #FDC72F 0.2vw;
}

.element-yellow > .which-pos {
	background-color: #FDC72F;
}

.example-fixed {
	position: relative;
	width: 70vw;
	height: auto;
	left: 47vw;
	transform: translate(-50%,  10%);
}

/* css for box " position sticky "  */

.go-exercice-sticky {
	position: relative;
	color: white;
	top: 3vw;
	left: 36vw;
	z-index: 999;
}

#go-sticky {
	text-align: center;
	position: relative;
	top: 34vw;
	font-family: Raleway;
	font-size: 4.6vw;
	white-space: nowrap;
	padding-top: 1vw;
	padding-bottom: 1vw;
	z-index: 10;
}
#sticky {
	position: relative;
	height: 42vw;
	top: 35vw;
	border: 0.15vw solid #414142; 
	background-color: #414142; 
}

.sticky {
	position: sticky;
	top: 86vh;
	width: 11.7vw;
	background-color: white;
}

.whatsticky {
	position: relative;
	width: 70vw;
	height: 7.8vw;
	top: -6.2vw;
	left: 12vw;
	background-color: white;
}

.element-pink {
	border: solid lightpink 0.2vw;
}
.element > p {
	padding: 0 0 0 1.1vw;
	font-size: 1.4vw;
}

.element-pink > .which-pos {
	background-color: lightpink;
}

.example-sticky {
	position: relative;
	width: 70vw;
	height: 27vw;
	top: -2vw;
	left: 47vw;
	transform: translate(-50%,  20%);
}
